html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    margin-bottom: 60px;
}

.product-name {
    height: 3.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 500;
    font-size: 1.1rem;
}

.number-input > .quantity {
    width: 70px;
}
